* { padding: 0; margin: 0; }

body {
/*    font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Scada', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    background: #bbb url('/images/background/dp_light_2.png') no-repeat center top;
 }
h1{
    text-align: center;
    padding-bottom: 15px;
    color: #003366;
}
h3{
    text-align: center;
    padding-bottom: 10px;
}
h2{
    text-align: center;
    padding-bottom: 10px;
    color: #255e96;
}
p{
    text-align: justify;
}
#content img{
    float: left;
    display: block;
    margin-right: 20px;
}
#content .alignRight{
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
#content .alignCenter{
    margin: auto;
}
#content a, #content a:visited{
    text-decoration:none; 
    color: #0066cc;
}
#content a:hover, #content a:active{
    text-decoration:underline;
}

.crop{
    width: 200px;
    height: auto;
}

#wrapper { 
 margin: 0 auto;
 width: 922px;
}
#header {
 width: 920px;
 color: #333;
 border: 1px solid #000;
 height: 120px;
 /*margin: 10px 0px 0px 0px;*/
 background: #DAC8BF;
}

#navigation {
 width: 920px;
 height: 33px;
 color: #333;
 border: 1px solid #000;
 border-top: none;
 margin: 0px 0px 0px 0px;
 background-color:#003366;
 }
 
#meni{
    width:75%;
    margin: 0 auto;         
 }
 
#content { 
 width: 900px;
 color: #000;
 border: 1px solid #000;
 border-top: none;
 background:#ffffff;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height: 540px;
 overflow: auto;
}
#content_home{
    width: 65%;
    float: left;    
}
#sidebar_home{
    width: 30%;
    float: right;
    padding: 10px;
}
#leftcolumn{
    float: left;
    width: 420px;
    padding: 10px;
}
#rightcolumn{
    float: right;
    width: 420px;
    padding: 10px;
}
#content_pr{
    width: 30%;
    float: left;
    padding: 10px;
}
#rightcolumn_pr{
    width: 65%;
    float: right;
    padding: 10px;
}
.tramvaji, .trolejbusi, .autobusi, .autobusiN{
    margin: 0 auto;
    width: 480px;
    line-height: 22px;
    font-weight: 700;
    padding-bottom: 30px;
}
.tramvaji dt{
    width: 80px;
    float: left;
    background: #ff0000;
    display: block;
    text-align: center;
    color: #fff;    
}
.tramvaji dt a, .trolejbusi dt a, .autobusiN dt a{
    color: #fff !important;
}
.tramvaji dt.zaglavlje1, .zaglavlje1 {
    background: #ff0000;
}
.tramvaji dd, .trolejbusi dd, .autobusiN dd{
    color: #fff;
    text-align: center;
    border: 1px #000 solid;
    border-top: none;
}
.tramvaji dd a, .trolejbusi dd a, .autobusi dd a, .autobusiN dd a{
    color: #000 !important;
}
.trolejbusi dt{
    width: 80px;
    float: left;
    background: #ff7f00;
    display: block;
    text-align: center;
    color: #fff;    
}
.trolejbusi dt.zaglavlje2, .zaglavlje2 {
    background: #ff7f00;
}
.autobusi dt{
    width: 80px;
    float: left;
    background: #f7e314;
    display: block;
    text-align: center;
    color: #003366;    
}
.autobusi dt a{
    color: #003366 !important;
}
.autobusi dt.zaglavlje3, .zaglavlje3 {
    background: #f7e314;
}
.autobusi dd{
    color: #003366;
    text-align: center;
    border: 1px #000 solid;
    border-top: none;
}
.autobusiN dt{
    width: 80px;
    float: left;
    background: #003366;
    display: block;
    text-align: center;
    color: #fff;
}
.autobusiN dt.zaglavlje4, .zaglavlje4 {
    background: #003366;
}
.galerija{
    margin: 0 auto;
    width: 724px; /* 4 x 161px + 4 x 20px za razmak između */
    list-style: none;
}
.galerija li{
    width: 161px;
    float: left;
    margin: 0 10px 10px;
}

.stajalista{
    width:600px;
    border-collapse:collapse;
    margin: 0 auto;
}
.stajalista td, .stajalista th {
    border:1px solid #003366;
}
.stajalista th {
    text-align:center;
    background-color:#003366;
    color:#fff;
}
.stajalista td{
    text-align: justify;
    padding: 10px;    
}
.smalltext{
    font-size: 11px;
    color:#003366;
}
	
.polasci{
    width:600px;
    border-collapse:collapse;
    margin: 0 auto;
    text-align: center;
    line-height: 22px;
}
.polasci td, .polasci th {
    border:1px solid #003366;
}
.polasci th {
    background-color:#003366;
    color:#fff;
}
.polasci tr.alt td {
    color:#000;
    background-color:#ccc;
}
#uzi{
    width:600px;
    margin:0 auto;
}
.nocne{
    padding-bottom: 20px;    
}
.nocneTab{
    width: 600px;
    margin: 0 auto;
    float: left;
    list-style: none;    
    text-align: center;
    padding-bottom: 30px;
    display: block;
}
.nocneTab li{
    width: 198px;
    float: left;
    display: block;
    border: 1px solid #003366;
    border-top: none;
    line-height: 22px;
}
.nocneTab li.zaglavlje5, zaglavlje5{
    background: #003366;
    font-weight: 700;
    color: #fff;
}
/* ---------- Footer ----------  */
#footer { 
 width: 900px;
 color: #333;
 border: 1px solid #000;
 border-top: none;
 background-color:#003366;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 text-align: center;
}
#footer a{
    color: #fff;
    text-decoration: none;    
}
#footer a:hover{
    text-decoration: underline;
}

.footer_links li {
    display:inline;
    padding:0 7px 0 4px;
    background: url('/images/bg_pipe_w.gif') 100% 60% no-repeat;
}

.footer_links li:last-child {
    background: none;
}